


.text-first{
  position : relative;
  background-color: #F8FFF9;
  padding: 3.6% 8.6% 3.6% 8.6%;

}

/****************/
/* Hypotheek form */
/****************/

/* Style inputs with type="text", select elements and textareas */
input[type=number],select, textarea {
  position: relative;
  width: 50%; /* Full width */
  padding: 1%; /* Some padding */ 
  border: 0px outset #009353; /* Border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 1%; /* Add a top margin */
  margin-bottom: 2.3%; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  -moz-box-shadow: 3px 3px 8px #009353;
  -webkit-box-shadow: 3px 3px 8px #009353;
  box-shadow: 3px 3px 8px #009353;
  font-size : 110%;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: white;
  color: #009353;
  position: relative;
  border : 3px solid #009353;
  padding: 1% 5%;
  cursor: pointer;
  font-size: 100%;
  margin-top: 90px;
  margin-bottom: 2%;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #009353;
  color : white;
  position:relative;
}

/* Add a background color and some padding around the form */
.formulier {
  width : 100%;
  padding: 3.6% 8.6% 8.6% 8.6%;
  position: relative;
  height : auto;
  min-height: 65%;
  top : 50px;
  font-family : sofia-pro, sans-serif;
  background-color: white;
}

.formulier label{
  position: relative;
  font-size: 100%;
  margin-bottom: 1%;
  margin-top: 2.3%;
  font-weight: normal;
}

.choice label{
  position: relative;
  font-size: 100%;
  padding-right: 20px;
  padding-top: 2%;
  text-align: center;
}

.choice input{
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  top:  4px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  border: 2px solid #006D3E;
  transition: 0.2s all linear;
  cursoir :pointer;

}

.choice input:checked {
  position: relative;
  background-color : #009353;
}



/* Range slider */


.range-container {
  position: relative;
  top : 50px;
}

input[type=range] {
  width: 50%;
  margin: 18px 0;
  -webkit-appearance: none;
}


input[type=range] + label {
  background-color: #009535;
  border-radius: 0px;
  padding: 5px 0;
  position: relative;
  top: -55px;
  text-align: center;
  width: 100px;
  right : 28.5%;
  color : white;
}

input[type=range]:active {
  outline: none;
}
/* Barre of my range slider*/
input[type=range]::-webkit-slider-runnable-track {
  animation: 0.2s;
  background-color: #fff;
  border-radius: 0px;
  border : 5px solid #009535;
  cursor: pointer;
  width: 50%;
  height: 20px;
}

/* Cursor of my range slider */
input[type=range]::-webkit-slider-thumb {
  background: #ffffff;
  border-radius: 0%;
  border: 4px solid #009535;
    cursor: pointer;
  height: 40px;
  width: 40px;
  position: relative;
  top: -15px;
  -webkit-appearance: none;
}

input[type=range]:active::-webkit-slider-runnable-track {
  opacity: 0.8;
}


@media screen and (max-width: 633px ){
  input[type=range] {
    width: 70%;
  }
  .choice {
    width: 67%;
    text-align: center;
  }
}

/* Errot message */
/* (A) BACKGROUND */
#boxBack {
  /* (A1) FULLSCREEN */
  position: fixed; z-index: 4999;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
 
  /* (A2) TRANSPARENT BACKGROUND */
  background: rgba(0, 0, 0, 0.5);
 
  /* (A3) HIDDEN BY DEFAULT */
  display: none;
}
 
/* (A4) ADD THIS CSS CLASS TO SHOW */
#boxBack.show { display: block; }
 
/* (B) DIALOG BOX */
#boxWrap {
  /* (B1) CENTER ON SCREEN */
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
 
  /* (B2) DIMENSIONS */
  min-width: 60%;
  min-height: 40%;
  padding: 10px;
 
  /* (B3) COLORS */
  background: #fff;
}

#boxTxt{
  margin-top : 5%;
  font-size: 250%;
  color : #009535;
  text-align: center;
}

#boxWrap input{
  background-color: #009353;
  color : white;
  width: 30%;
  height: 15%;
  position: absolute;
  bottom: 10%;
  font-size: 150%;
  right: 10%;
  cursor: pointer;
}


