/*************/
/*  Columns  */
/************/

.column{
	float : left;
	width : 50%;
}
.row{
	display : flex;
	margin : 0px;
}

.text-first{
  position : relative;
  background-color: #F8FFF9;
  padding: 3.6% 8.6% 3.6% 8.6%;

}

/****************/
/* Hypotheek form */
/****************/

/* Style inputs with type="text", select elements and textareas */
input[type=number], input[type=email], input[type=text]{
  position: relative;
  width: 70%; /* Full width */
  padding: 2%; /* Some padding */ 
  border: 0px outset #009353; /* Border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 1%; /* Add a top margin */
  margin-bottom: 2.3%; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  -moz-box-shadow: 3px 3px 8px #009353;
  -webkit-box-shadow: 3px 3px 8px #009353;
  box-shadow: 3px 3px 8px #009353;
  font-size : 110%;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: white;
  color: #009353;
  position: relative;
  border : 3px solid #009353;
  padding: 1% 5%;
  cursor: pointer;
  font-size: 100%;
  margin-top: 90px;
  margin-bottom: 2%;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #009353;
  color : white;
  position:relative;
}

/* Add a background color and some padding around the form */
.formulier {
  width : 100%;
  padding: 3.6% 8.6% 8.6% 8.6%;
  position: relative;
  height : auto;
  min-height: 65%;
  top : 50px;
  font-family : sofia-pro, sans-serif;
  background-color: white;
}

.formulier label{
  position: relative;
  font-size: 100%;
  margin-bottom: 1%;
  margin-top: 2.3%;
  font-weight: normal;
}

@media screen and (max-width : 950px ){

  .column {
    
    width: 100%;
  }
  .row{
    flex-direction: column;
  }
}