html,body {
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
}
 
 
 /* My text*/
 .user_info{
  height: auto;
  position: relative;
 }
 .label1{
  margin-top:3%;
   position: relative;
   font-size :160%;
   font-weight: bold;
   font-family: sofia-pro, sans-serif;
   margin-left:3%;
   
 }
 .label2{
   position: relative;
   font-size : 100%;
   font-weight: bold;
   font-family: sofia-pro, sans-serif;
   margin-left : 10.3%;
   margin-right : 10.3%;
   color: #009353;
   line-height: 100%;
   top:10px;
 }
 .info{
  position: relative;
  font-size : 90%;
  height: 50px;
  font-family: yu-gothic, sofia-pro, sans-serif;
  margin-left : 10.3%;
  margin-right : 10.3%;
  line-height: 100%;
  top:40px;
 }
 .link{
  position: relative;
  font-size : 170%;
  height: 50px;
  color: #009353;
  font-family: yu-gothic, sofia-pro, sans-serif;
  margin-left : 10.3%;
  margin-right : 10.3%;
  line-height: 100%;
  top:40px;
 }
 ul {
  padding:0;
  list-style:none;
  line-height:120%;
  
  margin-bottom:10%;
}

 /* Button */
 
 .button {
   position: relative;
   top : 50px;
   margin-left : 10%;
   align-items: center;
   background-color: #fff;
   border: 2px solid #009353;
   color: #009353;
   cursor: pointer;
   display: inline-flex;
   fill: #009353;
  text-decoration: none;
   font-size: 120%;
   height: 50px;
   justify-content: center;
 
   padding: 0 8%;
   text-align: center;
  
   transition: all .3s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
 }
 
 .button:focus {
   color: #006D3E;
 }
 
 .button:hover {
   border-color: #006D3E;
   color:#006D3E;
   fill: #006D3E;
 }
 
 .button:active {
   border-color: #006D3E;
   color: #006D3E;
   fill: #006D3E;
 }
 

 
 