/* Body */

 /* Desk image */

 html,body {
  height:100%;
  width:100;
  margin: 0;
  padding: 0;
}

.content{
  margin-top:0;
}
.content p {
  font-size : 60%;
  font-family: yu-gothic, sofia-pro, sans-serif;
}
.content h2 {
  font-size : 100%;
  font-family: sofia-pro, yu-gothic,  sans-serif;
}
.content h3 {
  font-size : 80%;
  font-family: sofia-pro, yu-gothic,  sans-serif;
}
 
/* Body */

 /* Desk image */
.desk-image{
  position: relative;
  width: 100%;
  height: 500px;
  opacity : 0.7;
  z-index: -1;
}


.bigTitle1{
  position: absolute;
  font-weight: bold;
  top : 250px;
  color : white;
  font-family: sofia-pro, sans-serif;
  font-size : 220%;
  margin-left:15%;
}

.bigTitle2{
  position: absolute;
  top : 300px;
  color : white;
  font-family: yu-gothic, sofia-pro, sans-serif;
  font-size : 140%;
  margin-left:15%;
}

.second-text-block{
  position : relative;
  height:auto;
  background-color :#F8FFF9;
  top:  0px;
}
.second-text-block h2{
  font-weight: bold;
  position: relative;
  font-family:sofia-pro;
  font-size:100%;
  padding: 4.6% 8.6% 2.6% 8.6%;
}
.second-text-block p{
  position: relative;
  font-size:70%;
  font-family:yu-gothic, sofia-pro, sans-serif;
  padding:0% 8.6% 8.6% 8.6%;
}

.third-text-block{
  position : relative;
  height:auto;
  background-color :white;
  top:  0px;
  padding-bottom: 10%;
}

.third-text-block h2{
  font-weight: bold;
  position: relative;
  font-family:sofia-pro;
  font-size:100%;
  padding: 1.6% 8.6% ;
}
.third-text-block p{
  position: relative;
  font-size:70%;
  font-family:yu-gothic, sofia-pro, sans-serif;
  padding:0% 8.6% 8.6% 8.6%;
}
.boxes{
  position: relative;
  height: auto;
  display : flex;
  justify-content: space-evenly;
  align-content: center;
}

.boxe{
  width:250px;
  position: relative;
  background-color : white;
  text-align: center;
  -moz-box-shadow: 4px 4px 3px #009353;
  -webkit-box-shadow: 4px 4x 3px #009353;
  box-shadow: 4px 4px 3px #009353;
  padding:3%;
  min-height: 200px;
  }
  .logo{
    width:auto;
  }
  

   .boxe h2{
    margin-top : 5%;
    top: 20%;
  }

  @media screen and (max-width : 880px){
    .boxes{
      height: 800px;
      justify-content: space-around;
      align-content: space-around;
      flex-wrap: wrap;
      flex-direction: row-reverse;
    }

    

  }