html,body {
  height:100%;
  width:100;
  margin: 0;
  padding: 0;
}

body{
  display : grid;
  grid-template-rows: auto 1fr auto;
}
.content{
  margin-top:0;
  min-height: 84%;
}
.content p {
  font-size : 90%;
  font-family: yu-gothic, sofia-pro, sans-serif;
}
.content h2 {
  font-size : 120%;
  font-family: sofia-pro, yu-gothic,  sans-serif;
}
.content h3 {
  font-size : 100%;
  font-family: sofia-pro, yu-gothic,  sans-serif;
}
 

/********/
/* Body */
/********/


/****************/
/* Contact form */
/****************/

/* Style inputs with type="text", select elements and textareas */
input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 2%; /* Some padding */ 
  border: 0px outset #009353; /* Border */
  /*box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 2%; /* Add a top margin */
  margin-bottom: 3.3%; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  -moz-box-shadow: 4px 4px 10px #009353;
  -webkit-box-shadow: 4px 4px 10px #009353;
  box-shadow: 4px 4px 10px #009353;
  font-size : 270%;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: white;
  color: #009353;
  border : 3px solid #009353;
  padding: 2% 23%;
  cursor: pointer;
  font-size: 250%;
  margin-top: 3.3%;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #009353;
  color : white;
}

/* Add a background color and some padding around the form */
.formulier {
  background-color: white;
  padding: 8.6%;
  position: relative;
  top : 10%;
  font-family : sofia-pro, sans-serif;
}


.formulier label{
  font-size: 260%;
  margin-bottom: 2%;
  margin-top: 3.3%;
  font-weight: normal;
}



 